*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    height: 25vh;
    padding-top: 1rem;
}

nav{
    border: 2px solid black;
    background-color: lightcoral;
    width: 70%;
    margin: 0 auto;
}

.paragrafo{
    background-color: pink;
    height: 8rem;
    width: 55%;
    margin: 2rem auto;

}

.contenuto{
    display: flex;
    justify-content: center;
}

.blu{
    background-color: lightblue;
    height: 18rem;
    width: 50%;
    margin: 1rem 0;
}

.rosa{
    background-color: lightpink;
    height: 18rem;
    width: 20%;
    margin: 1rem 0;
}
.contenuto2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: lightgray;
}

.verde{
    width: 70%;
    height: 28rem;
    margin: 1rem auto;
    background-color: green;
}